/* emotion으로 바꿔야됨*/

.voteframe {
    width: 879px;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
    display: flex;
    position: relative;
}

.voteframe .votediv {
    flex-direction: column;
    width: 519px;
    align-items: flex-start;
    gap: 48px;
    display: flex;
    position: relative;
}

.voteframe .vote-text-wrapper {
    position: relative;
    align-self: stretch;
    height: 22px;
    margin-top:  -1.00px;
    font-weight: 700;
    color: #3f4756;
    font-size: 20px;
    white-space: nowrap;
    letter-spacing: 0;
    line-height: normal;
}

.voteframe .voteframe2 {
    flex-direction: column;
    width: 250px;
    align-items: flex-start;
    gap: 20px;
    display: flex;
    position: relative;
}

.voteframe .voteoverlap-group-wrapper {
    position: relative;
    width: 252px;
    height: 38px;
    margin-right: -2.00px;
}