.footer {
    display: flex;
    flex-direction: column;
    width: 1440px;
    align-items: flex-start;
    gap: 10px;
    padding: 60px 80px;
    position: relative;
}

.footer .footer-group {
    display: flex;
    flex-direction: column;
    height: 166px;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    align-self: stretch;
    width: 100%
}

.footer .footer-frame {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-self: stretch;
    width: 100%;
    margin-bottom:  -10.00px;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.footer .footertext-wrapper {
    position: relative;
    width: 216px;
    height: 42px;
    margin-top: -1.00px;
    font-family: "Stencil-Regular", Helvetica;
    font-weight: 400;
    color: #7b9acc;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: 29.9px;
}

.footer .footer-frame2 {
    display: inline-flex;
    gap: 40px;
    align-items:  flex-start;
    position: relative;
    flex: 0 0 auto;
}

.footer .footertext-wrapper2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--caption-caption-3-font-family);
    font-weight: var(--caption-caption-3-font-weight);
    color: #989ba2;
    font-size: var(--caption-caption-3-font-size);
    letter-spacing: var(--caption-caption-3-letter-spacing);
    line-height: var(--caption-caption-3-line-height);
    white-space: nowrap;
    font-style: var(--caption-caption-3-font-style);  
}

.footer .footer-frame3 {
    display: inline-flex;
    gap: 8px;
    align-items:  flex-start;
    position: relative;
    flex: 0 0 auto;
}

.footer .footer-frame4 {
    display: flex;
    gap: 40px;
    align-self: stretch;
    width: 100%;
    align-items:  flex-start;
    position: relative;
    flex: 0 0 auto;
    color:#989ba2;
}

.footer .footer-p {
    position: relative;
    width: fit-content;
    font-family: var(--caption-caption-3-font-family);
    font-weight: var(--caption-caption-3-font-weight);
    color: #989ba2;
    font-size: var(--caption-caption-3-font-size);
    letter-spacing: var(--caption-caption-3-letter-spacing);
    line-height: var(--caption-caption-3-line-height);
    white-space: nowrap;
    font-style: var(--caption-caption-3-font-style);  
    margin-top: 15px;
}