.header {
    display: flex;
    width: 1440px;
    padding: 11px 13px;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #7b9acc;
    height: 65px;
}

.header .text-title {
    position: relative;
    width: 200px;
    font-family: "Stencil-Regular", Helvetica;
    font-weight: 700;
    font-size: 40px;
    color: #fcf6f5;
    text-align: center;
    letter-spacing: 0;
    line-height: 50px;
}

.header .search-login {
    position: relative;
    width: 225px;
    height: 43px;
}

.header .fe-search {
    position:absolute;
    width: 43px;
    height: 43px;
    top: 0;
    left: 0;
}

.header .login-border {
    display: flex;
    width: 156px;
    height: 44px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 23px;
    position: absolute;
    left: 70px;
    border-radius: 30px;
    border: 2px solid;
    border-color: #fcf6f5;
}

.header .div {
    position: relative;
    width: fit-content;
    font-family: "Pretendard-semiBold", Helvetica;
    font-weight: 600;
    font-size: 16px;
    color: #f8f6f2;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}